@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar{
  display: none;
}
::root{
  font-family: Inter Tight, Inter Tight Fallback;
}
@font-face {
  font-family: 'ClashDisplay';
  src: url('/fonts/ClashDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}